* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1rem;
}

#app {
  display: flex;
  min-height: 100vh;
}

.main-sidebar {
  width: 16rem;
  padding: 2rem;
  border-right: 1px rgb(226, 226, 226) solid;
}

.main-nav li a {
  display: block;
  margin-top: 1rem;
}

.main-content {
  flex: 1 1 0%;
  height: 100%;
  margin-right: auto;
  margin-left: auto;
  padding: 8rem 5rem 8rem 5rem;
}

.lead-introduce {
  margin: 0;
  display: flex;
}

.full-name {
  margin-top: auto;
  line-height: 0.5rem;
}

.job-title {
  margin: 0.5rem 0 0 0;
  color: greenyellow;
}

.blog-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 2rem;
  border : 1px solid #eaeaea;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: #f9f9f9;
}

.blog-item:hover {
  background-color: #f1f1f1;
  cursor: pointer;
}

.blog-item h3 {
  margin: 0;
}

.blog-item-type {
  margin-top: 0.5rem;
  margin-right: 0.5rem;
  font-size: 2rem;
}

.blog-item-btn-read {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
}

.blog-section:not(:first-child) {
  margin-top: 5rem;
}